{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Dillon's Flask Repository Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/smiley face.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Thing that bring me<mark>JOY</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>Playing sports, especially soccer ⚽ with friends.</li>
                            <li>Gaming, Minecraaft is pretty fun</li>
                            <li>Food is pretty good, I like Italian food and steak</li>
                            <li>I like to watch TV series, I'm currently watching the series "Nathan For You"</li>
                            <li>CSP bring me lots of joy, escpecially being taught by Mr.</li>
                        </ol>
                    </p>
                    <a href="https://dillonlee06.github.io/VSCode-Fastpages-Project/csp%20notes/week%205/2022/09/19/Psychology-notes.html" class="btn btn-primary">My Gratitude Blog</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/mlb.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title"><mark>Sports</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>My favorite sport is soccer and I enjoy watching games, playing FIFA, and playing with friends</li>
                            <li>I also enjoy watching baseball. I follow the Dodgers and watch their MLB games, sometimes going to the stadium to watch.</li>
                        </ol>
                    </p>
                    <a href="https://studio.code.org/projects/applab/J-lBx4h4v1k3OqyW71ciH1YEPZZQtRH2tGEAmyO9CI8/view" class="btn btn-primary">Link to our MLB Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pic.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My<mark>Goals</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>This year in school, I have the goal of getting A's in all my AP classes to make up for a few B's I got last year.</li>
                            <li>I'm also looking to get a simple job and make some money either after school or during next summer.</li>
                        </ol>
                    </p>
                    <a href="http://127.0.0.1:5000/stub/" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}