<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Welcome to my live website</strong></h1>
        <p class="text-secondary">A little about me:</p>
        <img src="{{ url_for('static', filename='assets/pic.png') }}" alt="Pic of me" height="300">
        <p class="text-secondary">Dillon Lee: I'm a 16 y/o junior at Del Norte High School. I likes to play soccer for fun with my friends and I have a younger sibling</p>
        <p class="text-secondary">My favorite sport is soccer and I enjoy watching games, playing FIFA, and playing with friends I also enjoy watching baseball. I follow the Dodgers and watch their MLB games, sometimes going to the stadium to watch.</p>
        <a href="https://github.com/dillonlee06" class="btn btn-primary">My GitHub</a>
    </div>
{% endblock %}



<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
